target/classes/global/fastgo-external-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fastgo-external-system-api" doc:id="74f0e6a8-c753-4fc9-8be2-bf01e9182bd8" >
		<http:listener doc:name="Listener" doc:id="e734b15b-1445-408c-a18f-bcb8bf885dc6" config-ref="HTTP_Listener_config" path="${http.listener.path}" />
		<ee:transform doc:name="to check routes or schedules" doc:id="78c2f39d-b4ae-4304-85ad-fa261d848dcd">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="serviceType"><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/json
---
attributes.headers.trasactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="614a0ce7-bd8b-4067-8327-e397e40d0e7a" message="Request Received for FastGo External System for TransactionId : #[vars.transactionId]" />
		<choice doc:name="Choice" doc:id="c768a015-c68d-40fe-b162-a8f8f9b15f5e" >
			<when expression='#[vars.serviceType == "routes"]' >
				<logger level="INFO" doc:name="Logger" doc:id="20cd1d4e-ab10-4b8c-b133-4fab9badff1e" message="Routes flow called for FastGo External System for TransactionId : #[vars.transactionId]" />
				<flow-ref doc:name="getRoutes-implementationFlow" doc:id="3a47ebd9-9886-4493-b19d-4ceec9679bee" name="getRoutes-implementationSub_Flow" />
			</when>
			<when expression='#[vars.serviceType == "schedules"]' >
				<logger level="INFO" doc:name="Logger" doc:id="b6adf8cf-34d4-4504-99e3-e62f62869806" message="Schedules flow called for FastGo External System for TransactionId : #[vars.transactionId]" />
				<flow-ref doc:name="getSchedules-implementationFlow" doc:id="87fcf9f9-1513-495f-9a85-3eeb1ca8edbb" name="getSchedules-implementationSub_Flow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="58789e9e-8f96-4e56-8f73-a9ae1c533adb" message="uriParam is not correct for FastGo External System for TransactionId : #[vars.transactionId]" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="55a40322-6077-4120-a1c2-838deb803f4e" message="Response send for FastGo External System for TransactionId : #[vars.transactionId]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f591a08a-3db6-4b3b-99da-18bfbdf885b6" >
				<logger level="INFO" doc:name="Logger" doc:id="fda718ad-4dda-4bbc-b762-fa3ca4f644f9" message="Error occured for FastGo External System for TransactionId : #[vars.transactionId]" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
